<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="PeterTecnology_ExtensionsMenu::ExtensionsMenu" title="Peter Tecnology" module="PeterTecnology_ExtensionsMenu" sortOrder="50" resource="Magento_Backend::content"/>
        <!--<add id="PeterTecology_ExtensionsMenu::FirstBuy" title="Cupom Primeira Compra" module="PeterTecnology_ExtensionsMenu" sortOrder="10" action="adminhtml/system_config/edit/section/primeira_compra" resource="Magento_Backend::content" parent="PeterTecnology_ExtensionsMenu::ExtensionsMenu"/>-->
    </menu>
</config>